name: Test / Fanart Handler

on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    name: Fanart Handler / Build
    runs-on: windows-2019
    steps:
      - name: Setup Visual Studio 2019
        uses: microsoft/setup-msbuild@v2
        with:
          vs-version: 16.11

      - name: Git Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build
        run: |
          build_git.bat < nul
        working-directory: ${{ github.workspace }}\scripts
        shell: cmd

      - name: Upload Artifact / Plugin
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: FanartHandler
          path: |
            ${{ github.workspace }}\FanartHandler\bin\Release\FanartHandler.dll
          retention-days: 7
          if-no-files-found: error

  ci-status:
    name: Build Status
    runs-on: ubuntu-latest
    needs:
      - build
    if: always()
    steps:
      - name: Success
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: Failure
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
